{
    "RootNamespace": "Firefly3",
    "Connections": [
        {
            "Key": "ClientChapter",
            "ConnectionString": "Data Source=TSMDWServer; Initial Catalog=TSMApps; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "cc.DropDownLookups",
                    "Identifier": "DropDownLookups",
                    "Module": "ClientChapter",
                    "ConnectionKey": "ClientChapter",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=Firefly3_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Firefly3\\Firefly3.Web\\Firefly3.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": false,
    "GenerateCustom": true
}