@model Firefly3.Common.DashboardPageModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

@section Head {
    @Html.StyleBundle("Pages/Dashboard")
    @Html.ScriptBundle("Pages/Dashboard")
}

@section ContentHeader {
    <h1><center>Welcome!</center></h1>
    <center><img src="https://i.ibb.co/6tt9gBf/tsm-Logo-Trans.gif" height="150" width="300" /></center>
    @*<center><img src="https://i.ibb.co/3WffjXV/tsmLogo.png" height="150" width="300" /></center>*@
}
@*https://www.truesense.com/hubfs/Images/Logos/TSM/tsmlogo796x368.jpg*@